.fondoyletras{
    background-color: rgb(24, 24, 143);
    color: rgb(139, 139, 21);
}
.sombra{
    box-shadow: 0px 0px 30px black;
}
@mixin tamaño ($width, $height) {
        width: $width;
        height: $height;
}
body{
    @extend.fondoyletras;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.pagina{
    @extend.fondoyletras;
}
#redes{
    background-color: rgb(24, 24, 143);
    color: white;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    margin-right: 40px;
}
.formulario{
    text-align: center;
}
.fotojugador{
    @extend.sombra;
    @include tamaño(150px,112.5px)
 }
.form-control{
    margin: auto;
    text-align: center;
    @extend.sombra;
    margin-top: 15px;
    width: 25%;
}
.foto{
    height: auto;
    width: auto;
    min-width: 300px;
}
.video{
    width: auto;
    height: auto;
    min-width: 300px;
}
.videoHimno{
    width: auto;
    height: auto;
    min-width: 300px;
  }
