@media (min-width:767px) {
    .fotojugador:hover{
         transform: scale(1.5) translateY(-30px);
         transition-duration: 2s;
    }
    .foto{
        text-align: left;
        margin-left: 0px;
        .epigrafe{
            text-align: center;
            font-size: small;
            margin-left: 0px;
           }
      }
      .video{
        text-align: right;
        margin-top: 45px;
       }
}
